/*
  Magenta theme, makes transparent zen look good
*/



hbox {
  color: #FF00FF;
}

.urlbarView-title {
  color: #FF00FF !important;
}
.urlbarView-action {
  color: #FF0000 !important;
}
.urlbarView-title-separator, .urlbarView-url {
  color: #00FF00 !important;
}

.findbar-textbox {
  color: #00FF00 !important;
  background-color: #0E1F2E !important;
}


/* Make that url thingy look good */
#statuspanel-label {
  background-color: #0D0F1E66 !important;
  color: #009900 !important;
}

#urlbar-background {
  background-color: transparent; !important;

  background-image: none !important;
}


:root {
  --zen-main-browser-background-toolbar: #0D0F1EF9 !important;

}




.browserContainer > findbar {
  background-color: #0D0F1E !important;
}


image.checkbox-check:not([checked]) {
    background-color: #0E1F2E;
   -webkit-appearance: none !important;
   -moz-appearance: none !important;
}

}



* {
  --zen-urlbar-background-base: #0D0F1EF9 !important;
  --zen-toolbar-element-bg: #0D0F1EF9 !important;
}

*/




*::selection {
  background: #ff6600 !important;
  color: #00FF00 !important;
}
*/
