/*:root:not([inDOMFullscreen="true"]):not([chromehidden~="location"]):not([chromehidden~="toolbar"]) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    & browser[transparent="true"] {
      background: none !important;
    }
  }
}*/

hbox {
  color: white;
}

#urlbar-background {
  --zen-urlbar-background-base: #0D0F1EF2 !important;

}
#urlbar-background {
  background-color: transparent; !important;
  background-image: none !important;
}

.urlbarView-title {
  color: #FF00FF !important;
}
.urlbarView-action {
  color: #FF0000 !important;
}
.urlbarView-title-separator, .urlbarView-url {
  color: #00FF00 !important;
}